{% extends 'base.html'%}

{% block style%}
    <style>
        body {
            font-family: 'Comic Sans MS', sans-serif;
            background-image:url('https://th.bing.com/th/id/OIG1._Vlemnq_gJkjAOpb_SuA?w=1024&h=1024&rs=1&pid=ImgDetMain');
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            text-align: center;
            color: #333;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        label {
            margin-bottom: 10px;
            font-weight: bold;
        }
        input[type="text"], input[type="email"], input[type="file"], textarea {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 100%;
        }
        textarea {
            resize: vertical;
        }
        button {
            padding: 10px 15px;
            background-color: #5cb85c;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
        button:hover {
            background-color: #4cae4c;
        }
    </style>
{% endblock %}
{% block body %}

    <div class="container">
        <h2>Upload Your Profile</h2>
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="profilePicture">Profile Picture:</label>
            <input type="file" id="profilePicture" name="upload_pic" accept="image/*" required>

            <label for="bio">Bio:</label>
            <textarea id="bio" name="bio" rows="4" required></textarea>

            <button type="submit" class="btn btn-primary btn-block">Upload</button>
        </form>
    </div>
{% endblock %}
</html>
